.lead__content {
  margin: 64px 0 0 0;
  /* width: 76.875%; */
  width: 984px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width:1024px) {
  .lead__content {
    width: 928px;
    margin-top: 56px;
  }
}

@media (max-width:936px) {
  .lead__content {
    width: 100vw;
  }
}