.header__languages {
  display: flex;
  gap: 18px;
  transform: translateY(-6px);
}

@media (max-width:768px) {
  .header__languages {
    right: 24px;
  }
}

@media (max-width:640px) {
  .header__languages {
    right: 16px;
    top: 30px;
  }
}