.intro {
  margin: 92px auto 0 auto;
  width: 984px;
  display: flex;
  flex-direction: column;
}

@media (max-width:1024px) {
  .intro {
    width: 928px;
  }
}

@media (max-width:936px) {
  .intro {
    padding-left: 24px;
    width: 90vw;
    margin: 92px 0 0 0;
  }
}

@media (max-width:768px) {
  .intro {
    width: calc(720/768*100%);
    margin-top: 88px;
  }
}

@media (max-width:730px) {
  .intro {
    padding-left: 16px;
  }
}

@media (max-width:320px) {
  .intro {
    margin-top: 64px;
  }
}